@font-face {
    font-family: 'Aero Bold Italic';
    src: url('../fonts/aero_matics_bold_italic-webfont.woff');
}

div#blend-css {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, red, rgb(0, 102, 255));
    z-index: 10;
    mix-blend-mode: overlay;
    opacity: .6;
    z-index: 2;
}




div#botao {
            position: absolute;
            right: 20%;
            bottom: 10%;
        }
        div#conteudo {
            background-color: rgb(10, 10, 10);
            height: 100vh;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            flex-direction: column;
        }

        div#botao-entrar {
            width: 200px;
            height: 50px;
            background-color: #0061a8;
            color: rgba(255, 255, 255, 0);
            font-weight: 600;
            letter-spacing: 4px;
            animation-name: pop;
            animation-iteration-count: infinite;
            animation-duration: 3s;
            position: absolute;
            text-align: center;
            line-height: 50px;
            z-index: 3;
        }
        a#botao-entrar-copia {
            text-decoration: none;
            width: 200px;
            height: 50px;
            background-color: rgba(187, 16, 16, 0);
            color: rgba(255, 255, 255, 0.466);
            font-weight: 600;
            letter-spacing: 4px;
            line-height: 50px;
            position: absolute;
            display: inline-block;
            text-align: center;
            z-index: 999;
            font-family: 'Aero Bold Italic';
        }
        a#botao-entrar-copia:hover {
            background-color: #0061a8;
            color: white;
            transition-duration: 2s ;
        }
        img#logo-png {
            animation-name: sizeOut;
            animation-iteration-count: 1;
            animation-play-state: running;
            animation-duration: 2s;
            overflow: auto;
            z-index: 998;
        }
        div#conteudo > div#BG {
            opacity: 0%;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 0;
            background-repeat: no-repeat;
            background-size: cover;
            animation-name: showUp;
            animation-delay: 2.5s;
            animation-duration: 30s;
            animation-iteration-count: infinite;
            
        }

